{% extends "./layout.twig" %}
{% block title %}Reference{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Reference Services</h1>
        <div class="well">
            <div class="row center-block">

                <div class="col-lg-3">
                    <a href="/reference/getBrandAmbassadors">Get Brand Ambassadors</a>
                </div>
                <div class="col-lg-3">
                    <a href="/reference/getBrands">Get Brands</a>
                </div>
                <div class="col-lg-3">

                    <a href="/reference/getCampaigns">Get Campaigns</a>
                </div>
            </div>

            <div class="row center-block">

                <div class="col-lg-3">
                    <a href="/reference/getCities">Get Cities</a>
                </div>
                <div class="col-lg-3">
                    <a href="/reference/getStates">Get States</a>
                </div>
                <div class="col-lg-3">

                    <a href="/reference/getStreetTypes">Get Street Types</a>
                </div>
            </div>

            <div class="row center-block">

                <div class="col-lg-3">
                    <a href="/reference/getAddressReferenceData">Get Address Reference Data</a>
                </div>
                <div class="col-lg-3">
                    <a href="/reference/getGIIDTypes">Get GIID Types</a>
                </div>
                <div class="col-lg-3">

                    <a href="/reference/getMobileProviders">Get Mobile Providers</a>
                </div>
            </div>

            <div class="row center-block">

                <div class="col-lg-3">
                    <a href="/reference/getVenues">Get Venues</a>
                </div>
                <div class="col-lg-3">
                    <a href="/reference/getReferenceData">Get Reference Data</a>
                </div>
                <div class="col-lg-3">
                </div>
            </div>
        </div>
    </div>
{% endblock %}