{% extends "layout.twig" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="container">
            <div class="jumbotron">
                <h1>Brand X Web Service Examples</h1>

            </div>
            <div class="row">

                <div class="col-xs-4">
                    <h2>Registration</h2>

                    <p><a href="/registration" target="_self" class="btn btn-primary btn-lg">Example &raquo;</a></p>
                </div>
                <div class="col-xs-4">
                    <h2>Login</h2>

                    <p><a href="/login" target="_self" class="btn btn-primary btn-lg">Example &raquo;</a></p>
                </div>
                <div class="col-xs-4">
                    <h2>Reset Password</h2>

                    <p><a href="/resetpassword" target="_self" class="btn btn-primary btn-lg">Example &raquo;</a></p>
                </div>
            </div>
            <div class="row">

                    <div class="col-xs-4">
                        <h2>Consumer</h2>

                        <p><a href="/consumer" target="_self" class="btn btn-primary btn-lg">Example &raquo;</a></p>
                    </div>
                    <div class="col-xs-4">
                        <h2>Reference</h2>

                        <p><a href="/reference" target="_self" class="btn btn-primary btn-lg">Example &raquo;</a></p>
                    </div>
                    <div class="col-xs-4">
                        <h2>Access Control</h2>

                        <p><a href="/access" target="_self" class="btn btn-primary btn-lg">Example &raquo;</a></p>
                    </div>

            </div>

        </div>
    </div>
{% endblock %}