<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %} - Brand X</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <style type="text/css">
            p{

                text-align: left;
            }

            body{
                padding-top: 70px;
            }

            footer
            {
                text-align: center;
            }
            .formentry
            {
                padding: 70px;
            }

            .col-centered{
                float: none;
                margin: 0 auto;
            }

        </style>
    {% endblock %}
</head>
<body>
<nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Brand X Web Services</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <!--  <ul class="nav navbar-nav">
                <li class="active"><a href="/" target="_self">Home</a></li>
            </ul>
            -->
        </div>
    </div>
</nav>
<div id="content">{% block content %}{% endblock %}</div>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<div id="footer">
    {% block footer %}
        <hr>
        <div class="row">
            <div class="col-xs-12">
                <footer>
                    &copy; Copyright 2014
                </footer>
            </div>
        </div>
    {% endblock %}
</div>
<script type="text/javascript">
    $(document).ready(function() {
        // Use Glyphicons icons
        $(submitFrm).bootstrapValidator({
            feedbackIcons: {
                required: 'glyphicon glyphicon-asterisk',
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            }
        });

        // Use FontAwesome icons
        $(submitFrm).bootstrapValidator({
            feedbackIcons: {
                required: 'fa fa-asterisk',
                valid: 'fa fa-check',
                invalid: 'fa fa-times',
                validating: 'fa fa-refresh'
            }
        });
    });
</script>
</body>
</html>