{% extends "./layout.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/access">Access Control Services</a></li>
    </ol>
    <div class="container">
        <h1>{{ Header }}</h1>
        <div class="well">
            <form class="formentry" role="form" action="/access/sendUserName" method="post">
                <div class="form-group">
                    <label for="Email">Eamil</label>
                    <input type="email" class="form-control" name="Email" value="{{ Email }}" >
                </div>

                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}