{% extends "./layout.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/consumer">Consumer Services</a></li>
    </ol>
    <div class="container">
        <h1>{{ Header }}</h1>
        <div class="well">
            <form class="formentry" role="form" action="/consumer/getResponseStatus" method="post">
                <div class="form-group">
                    <label for="TransactionID">Transaction Id</label>
                    <input type="text" class="form-control" name="TransactionID" value="{{ TransactionID }}" >
                </div>

                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}